# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


.deps/
Makefile
autom4te.cache/
config.h
config.h.in~
config.log
config.status
libtool
stamp-h1
svnbot

